/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

body {
  color: #702F8A;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #e2dccb;
  /*background: url(../images/gesture-intro.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  resize: both;*/
}

header {
  position: relative;
  z-index: 1;
}

.menuIcon{
  /*display: none;*/
  height: 40px;
  width: 40px;
  float: left;
  margin: 20px;
  z-index: 999;
}

.coverImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1460px;
  height: auto;
}

.main {
  position: relative;
  z-index: 9;
}

a {
  text-decoration: none;
}

.container {
  border-bottom-style: solid;
  z-index: 2;
  position: relative;
  height: 440px;
}

nav li {
  display: inline-block;
  margin: 10px;
  font-size: 24px;
  padding: 15px;
  font-weight: 600;
}

nav li:hover {
  background: white;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #702F8A;
}

nav ul {
  padding: 40px;
  position: relative;
  float: right;
}

h1 {
  color: white;
  clear: both;
  text-align: center;
  font-size: 72px;
  padding: 50px;
  margin-bottom: 250px;
  padding-top: 0;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  padding-top: 30px;
}

.about {
  border-bottom-style: solid;
  background-color: #e2dccb;
  padding-bottom: 50px;
}

.howTo {
  border-bottom-style: solid;
  background-color: #e2dccb;
  padding-bottom: 50px;
}

.support {
  border-bottom-style: solid;
  background-color: #e2dccb;
  padding-bottom: 50px;
}

.button {
  border-radius: 5px;
  font-weight: 600;
  padding: 5px 0;
  width: 250px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  margin: 50px;
  background-color: #702F8A;
  color: #e2dccb;
}

.col-1-3 {
  width: 33.3%;
  float: left;
  text-align: center;
}

.col-1-3 img {
  width: 33.3%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: solid white 15px;
}

footer {
  text-align: center;
  padding: 100px;
  background: white;
}

.footerLogo {
  width: 200px;
  height: 50px;
}

.home {
  float: left;
}

.containerOther {
  background: #702F8A;
}

blockquote {
  font-weight: 600;
  text-align: center;
  font-size: 28px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.h1Other {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.ulOther {
  height: 100px;
  padding-left; 20px;
  margin-bottom: 0;
  margin-top: 0;
}

ol {
  margin: 30px auto;
  border: 3px solid white;
  width: 55%;
  padding: 30px 50px;
  font-size: 20px;
  border-radius: 15px;
}

ol a {
  color: #702F8A;
  text-decoration: underline;
}


@media (max-width: 768px) {

  /*.menuIcon {
    display: inline-block;
  }*/

  nav ul {
    float: none;
    display: none;
  }

  nav li {
    display: block;
    border-bottom: 1px solid white;
  }

  .col-1-3 {
    float: none;
    width: 100%;
  }

}

form {
  margin: 30px auto;
  border: 3px solid white;
  width: 55%;
  padding: 30px 50px;
  font-size: 20px;
  border-radius: 15px;
}

input {
  margin-bottom: 10px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

select {
  margin-bottom: 8px;
  color: #702F8A;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: white;
}

textarea {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
}

img:hover {
  transform: scale(1.1);
  background: rgba (0,0,0,0);
}

footer img:hover {
  transform: none;
}
